# OpenAI LLM Configuration
OPENAI_LLM_API_KEY=your-llm-api-key-here
OPENAI_LLM_API_ENDPOINT=https://your-llm-api-endpoint
OPENAI_LLM_MODEL="GPT-4o-mini"

# OpenAI Embedding Configuration
OPENAI_EMBEDDING_API_KEY=your-embedding-api-key-here
OPENAI_EMBEDDING_ENDPOINT=https://your-embedding-api-endpoint
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"

# ChromaDB Configuration
CHROMA_PERSIST_DIR=./chroma_db

# Project Paths
SRC_DIR=./src
REPORT_DIR=./report
EXAMPLE_SUITE_DIR=./Example-Suite-master